<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="defaultUserName" value=""/>
    <add key="defaultPassword" value=""/>
    <add key="defaultAutodiscoverUrl" value="https://outlook.office365.com/ews/exchange.asmx"/>
  </appSettings>
</configuration>